.h1{
    text-align: center;
}

table{
    margin-left:auto;
    margin-right: auto;
    margin-top:  2em;
    width: 45em;  
    height: 20em;    
}

td{
    border: 1px solid black; 
}

.topright
{
    width: 5em;
}

.top{
    height: 5em;
}

.fat{
    width: 7em;
}