.h3 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    /* margin-top:  2em; */
    /* width: 45em;
    height: 20em; */
    width: 85%;
    height: 1%;
}

td {
    border: 1px solid black;
}

.topright {
    width: 5em;
    background-color: red;
}

.top {
    height: 5em;
}

.topg {
    height: 5em;
    background-color: green;
}

.topy {
    height: 5em;
    background-color: yellow;
}

.fat {
    width: 7em;
}

.fatb {
    width: 7em;
    background-color: blue;
}

.textar {
    width: 42em;
    margin: 0 auto;
}

.btncenter {
    margin-left: 20em;
}

.btn {
    font-size: 90%;
}

.maincontentlr1 {
    border: 1px solid black;
    background: white;
    border-radius: 1em;
    width: 84.5%;
    height: 100%;
    margin-left: 15.5%;
    display: block;
    overflow: auto;
    overflow-x: hidden;
}