    body {   
        background-image: url(../images/background.jpg);
        background-size: 100%;
        background-attachment: fixed;  
   }

    .mainform {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 40%;
        border: 1px solid black; 
        background: white; 
        border-radius: 10px;
        padding: 5px;
   }

   /* .leftform {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 7%;
        border: 1px solid black; 
        background: white; 
        border-radius: 10px;
        padding: 5px;
   } */

    .textFont {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 130%;
        width: 77%;
        margin-left: 20%;
        
   }
    .formHeader {    
        margin-left: auto;
        margin-right: auto;   
        margin-top: 15%;
        width: 40%;
        border: 1px solid black; 
        background: white; 
        border-radius: 10px;
        font-size: 130%;
        padding: 3px;
    }

    .form-inline{
        height: 50px;
    }

    .formVault {       
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 40%;
        border: 1px solid black; 
        background: white; 
        border-radius: 10px;
        font-size: 130%;
        padding: 3px;
    }

    .btn {
        font-size: 90%;
    }

    .btn-group-vertical{
        margin-left: 21%;
        margin-top: 2%;
        /* margin-left: 21%; */
        float: left;
        border: 1px solid black; 
        background: white; 
        border-radius: 10px;
        padding: 5px;
    }

    .divHor {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;

    }